
@{
    ViewBag.Title = "Index";
}

<h1>Жалкое подобие CRM для сервисного центра</h1>
<h3>Приложение написано в рамках учебной программы ФДДО МИЭТ в 2018 году</h3>
<h6>Автор: Шевцов Евгений Романович</h6>


