
@{
    ViewBag.Title = "О приложении";
}


<h1>Жалкое подобие CRM для сервисного центра</h1>
<h3>Приложение написано в рамках учебной программы ФДДО МИЭТ в 2018 году</h3>
<h4>Жутко недоработанное, но все же, оно прекрасно</h4>
<div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="outline-width: 1px; outline-style:dashed; margin: 50px">
        <div class="text-center">
            <h3>Данное приложение может:</h3>
        </div>
        <ul>
            <li>Создавать новые точки обслуживания</li>
            <li>Принимать новых "сотрудников"</li>
            <li>Принимать заявки на обслуживание</li>
        </ul>

        <div class="text-center">
            <h3>Данное приложение НЕ может:</h3>
            <h6>(пока что)</h6>
        </div>
        <ul>
            <li>Использовать Cookies</li>
            <li>Использовать Сессии</li>
            <li>Редактировать данные в БД</li>
            <li>Слать PUSH-уведомления для пользователей</li>
            <li>Быть красивым</li>
        </ul>

    </div>
    <div class="col-md-2"></div>
</div>
<h6>Автор: Шевцов Евгений Романович</h6>


