
@{
    ViewBag.Title = "Неправильный ввод";
}

<h2>@ViewBag.Title</h2>
<h3>Что-то пошло не так. А именно, данные введены неправильно.</h3>
<h4>Используйте подсветку при выборе Модели, Типа и Бренда оборудования и не оставляйте поля пустыми :)</h4>
<h6>Увы ¯\_(ツ)_/¯</h6>




