
@{
    ViewBag.Title = "Неправильный ввод";
}

<h2>@ViewBag.Title</h2>
<h3>Что-то пошло не так. А именно, данные введены неправильно.</h3>
<h5>Фильтровать ввод и привинчивать JQuerry планируется в дальнейших версиях.</h5>
<h6>Увы ¯\_(ツ)_/¯</h6>

